# Environment files
*.env
.env
.env.*

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
ENV/
env/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Large model and checkpoint files
*.safetensors
*.pt
LLM-course/my_saved_models/
mini-projects/huggingface-project/results/
mini-projects/huggingface-project/ticket_classifier/
